*{ margin: 0; padding: 0; }

.clearfix { overflow: auto }

a { text-decoration: none; }

.wrapper{
	margin: 0 auto;
	width: 1000px;

}

.top-bar{
	width:1000px;
	background: lightblue;
}

.top-bar-links{
	float: left;
}

.top-bar-links ul{
	list-style: none;
	margin: 15px;
}

.top-bar-links ul li{
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid black;
}

.top-bar-links ul li:last-child{
	border: none;
}

.top-bar-links ul li a{
	color: blue;
}

.site-search{
	padding: 3px 10px;
	float: right;
	margin:15px;
	background: white;
	border-radius: 10px;
}

.site-search input{
	border: 0;
	float: left;
}

.site-search button{
	background:url(../img/search.png)
	width: 18px;
	height: 18px;
	border: 0;
	float: right;
}

header .logo{
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}

header .logo h1{
	font-variant: small-caps;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -1px;
	color: gray;
	margin-left: 50px;
}

header .logodesign{
	width: 55px;
	height: 55px;
	margin-top: 25px;
	background-image: url(../img/Logo.png)
}

header .logo p{
	font-size: 18px;
	color: gray;
	margin-left: 50px;
}

header .socialmedia{
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

header .socialmedia ul{
	list-style: none;

}

header .socialmedia ul li{
	display: inline-block;
}

header .socialmedia ul li a{
	background: #444;
	color: #b5b1b1;
	margin-left: 5px;
	padding: 6px;
	display: inline-block;
	border-radius: 20px;
}

header .socialmedia ul li a:hover{
	background: orange;
}

nav{
	background-color: black;
	background: linear-gradient(#0d0d0d, #404040 ,#0d0d0d);
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;


}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	color: white;
	text-transform: uppercase;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

nav ul li a:hover{
	color: red;
}



/*---------------------------------------------------------heder section end-----------------------------------------------*/
/*----------------------------------------------------------Footer start---------------------------------------------------*/
footer{
	width: 1000px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 150px;
}

div.footercol{
	width: 231.25px;
	float: left;
	margin-left: 15px;
	border-top: 1px solid #000;
}

div.footercol h4{
	text-transform: uppercase;
	margin-top: 15px;
	color: #444;
	font-size: 20px;
	margin-bottom: 15px;
}

div.news{
	font-size: 16px;
}

ul.quicklinks{
	list-style: none;
	margin-top: 15px;
}

ul.quicklinks li a{
	margin-bottom: 5px;
	display: block;
	border-bottom: 1px solid #aaa;
	padding-bottom: 5px;
	color: #666;
}

ul.quicklinks li a::before{
	content: "*";
}

ul.quicklinks li a:hover{
	color: red;
}

div.postinfo{
	font-size: 16px;
}


form.contact input, form.contact textarea{
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
	width: 221.25px;
	border-radius: 5px;
	border:none;
	font-family: inherit;
	font-size: 16px;
}

div.contact textarea{
	height: 130px;
}

form.contact button{
	background: #eee;
	color: red;
	border:none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: inherit;

}

div.copyrights{
	width: 100%;
	background: #eee;
	float:left;
	margin-top: 15px;
}

div.left{
	float: left;
	margin: 20px;
}

div.right{
	float: right;
	margin: 20px;
}

/*--------------------------------------------jquary start-----------------------------------------*/
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#flip{
	font-family: aller;
	font-size: 16px;
}

#panel {
    padding: 50px;
    display: none;
    font-family: aller;
   
}

/*----------------------------------------------jquary end------------------------------------------*/
/*-------------------------------------------------------------------------footer statrt-------------------------*/

footer{
	width: 1000px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 150px;
}

div.footercol{
	width: 231.25px;
	float: left;
	margin-left: 15px;
	border-top: 1px solid #000;
}

div.footercol h4{
	text-transform: uppercase;
	margin-top: 15px;
	color: #444;
	font-size: 20px;
	margin-bottom: 15px;
}

div.news{
	font-size: 16px;
}

ul.quicklinks{
	list-style: none;
	margin-top: 15px;
}

ul.quicklinks li a{
	margin-bottom: 5px;
	display: block;
	border-bottom: 1px solid #aaa;
	padding-bottom: 5px;
	color: #666;
}

ul.quicklinks li a::before{
	content: "*";
}

ul.quicklinks li a:hover{
	color: red;
}

div.postinfo{
	font-size: 16px;
}


form.contact input, form.contact textarea{
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
	width: 221.25px;
	border-radius: 5px;
	border:none;
	font-family: inherit;
	font-size: 16px;
}

div.contact textarea{
	height: 130px;
}

form.contact button{
	background: #eee;
	color: red;
	border:none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: inherit;

}

div.copyrights{
	width: 100%;
	background: #eee;
	float:left;
	margin-top: 15px;
}

div.left{
	float: left;
	margin: 20px;
}

div.right{
	float: right;
	margin: 20px;
}

/*---------------------------------------------------------footer end------------------------------------------*/

